<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :internal_temp %>
    <%= form.text_field :internal_temp, id: :record_internal_temp %>
  </div>

  <div class="field">
    <%= form.label :external_temp %>
    <%= form.text_field :external_temp, id: :record_external_temp %>
  </div>

  <div class="field">
    <%= form.label :nest_temp %>
    <%= form.text_field :nest_temp, id: :record_nest_temp %>
  </div>

  <div class="field">
    <%= form.label :nest_temp_high %>
    <%= form.text_field :nest_temp_high, id: :record_nest_temp_high %>
  </div>

  <div class="field">
    <%= form.label :nest_temp_low %>
    <%= form.text_field :nest_temp_low, id: :record_nest_temp_low %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
