%p#notice= notice

= link_to '<div class="glyphicon glyphicon-chevron-left"></div> Back to devices'.html_safe,  devices_path

%h1
  = @device_name

- buttonclass = "btn btn-sm btn-primary"
- selectedclass = buttonclass + " active"
= link_to "Last 24 Hours", records_path(:filter => "today", :device_id => @device_id), :class => @selected_filter == "today" ? selectedclass : buttonclass
= link_to "Yesterday", records_path(:filter => "yesterday", :device_id => @device_id), :class => @selected_filter == "yesterday" ? selectedclass : buttonclass
= link_to "Running Week", records_path(:filter => "week", :device_id => @device_id), :class => @selected_filter == "week" ? selectedclass : buttonclass
= link_to "All", records_path(:filter => "all", :device_id => @device_id), :class => @selected_filter == "all" ? selectedclass : buttonclass
#custombtn{:class => @selected_filter == "custom" ? selectedclass : buttonclass}
  Custom

.custom_range{:style => "margin-top:10px;display:" + (@selected_filter == "custom" ? "inline" : "none")}
  = form_tag(records_path, :method => "get") do
    = text_field_tag :start, params[:start].nil? ? "Start Date" : params[:start],class: "datepickerstart"
    = text_field_tag :end, params[:end].nil? ? "End Date" : params[:end],class: "datepickerend"
    = hidden_field_tag :device_id, @device_id
    = hidden_field_tag :filter, "custom"
    = submit_tag "Apply", :class => buttonclass


%br/
= line_chart @data, min: @min, max:@max


:javascript
   $('.datepickerstart').pickadate({
    onSet: function(context) {
      console.log(context);
    }
  });

  $('.datepickerend').pickadate({
    onSet: function(context) {
      console.log(context);
    }
  });

  $("#custombtn").click(function(){
    if($(".custom_range").css('display') == "none")
    {
      $('.custom_range').show();
    }
    else
    {
      $('.custom_range').hide();
    }
  });

:css
  .table-padded>tbody>tr>td, .table-padded>tbody>tr>th, .table-padded>tfoot>tr>td, .table-padded>tfoot>tr>th, .table-padded>thead>tr>td, .table-padded>thead>tr>th {
    padding: 12px;
  }

  .button_to {
    float:left;
    margin: 0 8px 0 8px;
  }
