<p id="notice"><%= notice %></p>

<p>
  <strong>Internal temp:</strong>
  <%= @record.internal_temp %>
</p>

<p>
  <strong>External temp:</strong>
  <%= @record.external_temp %>
</p>

<p>
  <strong>Nest temp:</strong>
  <%= @record.nest_temp %>
</p>

<p>
  <strong>Nest temp high:</strong>
  <%= @record.nest_temp_high %>
</p>

<p>
  <strong>Nest temp low:</strong>
  <%= @record.nest_temp_low %>
</p>

<p>
  <strong>Current Humidity:</strong>
  <%= @record.humidity %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
